:root {
  --text-tt-color: rgb(160, 7, 40);
  --text-p-color: rgb(238, 76, 97);
  --text-lb-color: rgb(0, 0, 0);
  --bk-color: rgba(218, 120, 133, 0.678);
}

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
form
{
  background-color: var(--bk-color);
  width: 90;
  margin: 10vh;
  /* padding:3vw; */
}
.form-title{
  padding:10px;
  border-bottom: 5px solid white;
  text-transform: uppercase;
}
.title{
  font-size: 230%;
  margin: 0;
  font-weight: 700;
  color: var(--text-tt-color);
}
.form-content{
  padding: 30px;
  text-align: center;
}

.form-label {
  color: var(--text-lb-color);
  font-size: 130%;
  font-weight: 500;
}

.form-row{
  margin-bottom: 10px;
}
.row-2{
  transform: translateX(7px);
}
.form-input{
  width: 30%;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  height: 5vh;
}
.form-input:focus{
  outline-color: aqua;
}
.form-button{
  border: none;
  padding: 10px 30px;
  margin: 0 20px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  outline: none;
  transition: all .2s;
  font-weight: 500;
  font-size: 110%;
}
.form-button:hover{
  transform: scale(1.1);
}
.form-button:active{
  transform: translateY(5px);
}
.bk-blur
{
  background-color: rgba(0, 0, 0, 0.096);
  visibility: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  transition: all .5s;
}
.bk-blur1
{
  background-color: rgba(0, 0, 0, 0.096);
  visibility: visible;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  transition: all .5s;
}
.notice-form{
  border-radius: 10px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  /* overflow: hidden;
  opacity: 0; */
  transform: translate(-50%, -50%) scale(.5);      
}

.notice-form h2{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  margin-left: 20px;
  padding: 30px 30px;
  /* border-bottom: 1px solid black; */
  
}
.notice-text{
  font-size: 40px;
  padding: 20px 20px;
  border-top: 0.5px solid rgb(122, 122, 122);
}
.notice-text span{
  margin-left: 30px;
}
.notice-button{
  /* margin: 10px 10px; */
  padding: 30px 30px;
  border-top: 0.5px solid rgb(122, 122, 122);
  display: flex;
  justify-content: flex-end;
}
.button{
  font-size: 30px;
  border: none;
  padding: 20px 20px;
  margin: 0 10px;
  border-radius: 10px;
  color: white;
}
.btn-grey{
  background-color: grey;
}
.btn-blue{
  background-color:#007bff;
}

.listTable
{
  padding: 30px;
  width: 90v;
  margin-left: 10vh;
  margin-right: 10vh;
  background-color:var(--bk-color) ;
}

ul {
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: var(--text-lb-color);
  font-size: 110%;
  margin-left: 0vw;
  height: auto;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: var(--text-tt-color);
  font-size: 230%;
  margin-left: 5vw;
}