.container
{
    margin: 0;
    width: 100vw;
    height: 120vh;
    background-color: rgb(20, 14, 26);
    z-index: 0;
    padding-right: 40px;
}

.hit
{
    width: 100vw;
    height: 6vh;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hits
{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn
{
    color:rgb(255, 255, 255);
    z-index: 1;
    width: 120px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin:20px;
    padding:30px;
}
.btn1
{
    margin-right: 80px;
    width: 23px;
    height: 23px;
    opacity: 0.4;
}
.btn2
{
    margin-right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.r1
{
    width: 96vw;
    height: 12vh;
    margin-right: 30px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:40px;
    position: relative;
}

.album
{
    width: 14vw;
    height: 30vh;
    position: relative;
    top: 70px;
    left:30px;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    margin-right: 25px;
    z-index: 0;
}

.img
{
    width: 14vw;
    height: 30vh;
    border-radius: 7px;
    transform: scale(1);
    transition: 0.5s;
    object-fit: cover;
}
.blur
{
    width: 14vw;
    height: 30vh;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 7px;
    transform: scale(1);
    transition: 0.3s;
    visibility:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 44, 49, 0.432);
}
.album:hover .blur
{   
    visibility:visible;
}
.album:hover .img
{
    transform: scale(1.1);
}
.like
{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like .tooltiptext
{
    visibility: hidden;
    width: 110px;
    background-color: rgba(70, 69, 69, 0.815);
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    position: absolute;
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
}
  
.like:hover .tooltiptext
{
    visibility: visible;
}

.like .tooltiptext {
    left:-1px;
    top: 60px;
}

.like:hover
{
    background-color: rgba(177, 174, 174, 0.425);
    border-radius: 25px;
}
.play 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play:hover
{
    background-color: rgba(71, 70, 70, 0.315);
    border-radius: 29px;
}

.more 
{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more:hover 
{
    background-color: rgba(177, 174, 174, 0.425);
    border-radius: 25px;
}

.more .tooltiptext1
{
    visibility: hidden;
    width: 45px;
    background-color: rgba(70, 69, 69, 0.815);
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    position: absolute;
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
}
  
.more:hover .tooltiptext1
{
    visibility: visible;
}

.more .tooltiptext1 {
    right:20px;
    top: 60px;
}

.r2
{
    top:28vh;
    width: 96vw;
    height: 3vh;
    margin-right: 30px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:40px;
    position: relative;
}

.title
{
    width: 14vw;
    height: 7vh;
    position: relative;
    top: -5px;
    left:30px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 25px;
    z-index: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.title:hover
{
    color: blueviolet;
}

.hit1
{
    width: 100vw;
    height: 10vh;
    margin-top:30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.r3
{
    width: 96vw;
    height: 5vh;
    margin-right: 30px;
    margin-left: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:40px;
    position: relative;
}

.con1
{
    width: 30vw;
    height: 23vh;
    position: relative;
    top: 40px;
    left:30px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
    z-index: 0;
    background-color: rgba(67, 58, 73, 0.466);
    box-shadow: 0px 0px 11px rgba(45, 40, 48, 0.39);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.album1
{
    width: 8vw;
    height: 18vh;
    position: relative;
    margin: 17px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.img1
{
    width: 8vw;
    height: 18vh;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.5s;
    object-fit: cover;
}

.blur1
{
    width: 8vw;
    height: 18vh;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.3s;
    visibility:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 44, 49, 0.432);
}
.con1:hover .blur1
{   
    visibility:visible;
}
.con1:hover .img1
{
    transform: scale(1.1);
}

.phai
{
    width: 20vw;
    height: 22vh;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pt 
{
    height: 20px;

}
.tenbh
{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 0px;
}
.tencs
{
    width: 14vw;
    height: 7vh;
    position: relative;
    top: -7px;
    left:0px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 25px;
    z-index: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.tencs:hover 
{
    color:  rgb(187, 59, 238);
}

.pdt1
{
    font-family: 'Londrina Outline', cursive;
    color: rgba(119, 98, 139, 0.747);
    font-size:53px;
    width: 7vw;
    bottom: 10px;
    margin: 0;

}

.pdt
{
    width: 20vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pdt2
{
    margin-top: 37px;
    width: 7vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: rgba(119, 98, 139, 0.747);
}

.img2
{
    width: 5vw;
    height: 11vh;
    border-radius: 3px;
    transform: scale(1);
    transition: 0.5s;
    object-fit: cover;
}

.r4
{
    margin-top:170px;
    width: 96vw;
    margin-right: 30px;
    margin-left: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:40px;
    position: relative;
}

.con2
{
    width: 30vw;
    height: 11vh;
    position: relative;
    top: 40px;
    left:30px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.album2
{
    width: 4vw;
    height: 9vh;
    position: relative;
    margin: 7px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.img2
{
    width: 4vw;
    height: 9vh;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.5s;
    object-fit: cover;
}

.blur2
{
    width: 4vw;
    height: 9vh;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.3s;
    visibility:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 44, 49, 0.432);
}
.con2:hover 
{
    background-color: rgba(67, 58, 73, 0.466);
}
.con2:hover .blur2
{   
    visibility:visible;
}

.pd1 
{
    width: 5.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3px;
    visibility: hidden;
    padding: 15px;
}
.con2:hover .pd1 
{
    visibility: visible;
}
.mic
{
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mic:hover
{
    background-color: rgba(177, 174, 174, 0.425);
    border-radius: 20px;
}

.more1
{
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more1:hover
{
    background-color: rgba(177, 174, 174, 0.425);
    border-radius: 20px;
}

.phai1
{
    padding: 6px;
    width: 24vw;
    height: 22vh;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pt1
{
    height: 20px;

}
.tenbh1
{
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 0px;
}
.tencs1
{
    position: relative;
    top: -7px;
    left:0px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 25px;
    z-index: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.tencs1:hover
{
    color:  rgb(187, 59, 238);   
}

.mic .tooltiptext2
{
    visibility: hidden;
    width: 115px;
    background-color: rgba(70, 69, 69, 0.815);
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    position: absolute;
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    right:33px;
    top: -4px;
}
  
.mic:hover .tooltiptext2
{
    visibility: visible;
}

.more1 .tooltiptext3
{
    visibility: hidden;
    width: 50px;
    background-color: rgba(70, 69, 69, 0.815);
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    position: absolute;
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    right:20px;
    top: -4px;
}
  
.more1:hover .tooltiptext3
{
    visibility: visible;
}
