:root
{
    --text-color: rgb(4, 22, 26);
    --main-color: #f9564f;
    --shadow-color: rgba(136, 136, 136, 0.274);
    --text-p-color:rgba(8, 5, 20, 0.63);
    --hightlight-color:rgba(255, 0, 43, 0.178);
    --bk-color:rgba(250, 220, 218, 0.315);
}

@media only screen and (min-width:1201px){
    .html{
        font-size: 16px;
    }
    .head
    {
        margin: 0 auto;
    }
    .suzie{
        font-size: 88%;
    }
    .nav{
        width: auto;
    }
    .navbtn
    {
        display: inline;
        padding: 8px 20px;
    }
    .social
    {
        border-radius: 3.1vw;
    }
    .AUBK1
    {
        font-size: 90%;
    }
    .texth1
    {
        padding-top: 5px;
        font-size: 230%;
    }
    .textp1
    {
        font-size: 110%;
    }
    .text
    {
        width: 34vw;
        margin-left: 1.3vw;
    }
    .AUBK2
    {
        width: 83vw;
        margin-bottom: 6vw;
    }
    .o1{
        width: auto;
    }
    .o-ser
    {
        padding-right:15px;
        height: auto;
    }
    .slick-list
    {
        width: 76vw;
        left: -1vw;
        height: 40vh;

    }

    .items{
        width: 100%;
    }

    .slick-slide
    {
        float:none;
    }

    .form{
        font-size: 70%;
    }

    .form1{
        height: fit-content;
        width: auto;
        margin-right: 20px;
    }

    .form2{
        height: auto;
        font-size: 127%;
    }

    .titleform2{
        font-size: 24px;
    }

    .text-contact{
        font-size: 17.6px;
    }

    .icon-footer{
        margin-left: 14%;
    }

    .icon-footer{
        margin-left: 13%;
    }

    .footer-text{
        margin-right: 12%;
    }
}

@media only screen and (max-width:1200px){

    .headd{
        width: 90%;
        margin-left: 0;
    }
    .nav{
        width: auto;
    }
    .navbtn
    {
        display: inline;
        padding: 8px 20px;
    }
    .AUBK1{
        margin-left: 3.7vw;
        font-size: 90%;
        width: auto;
    }
    .suzy1{
        bottom: 0;
    }
    .texth1
    {
        padding-top: 5px;
        font-size: 230%;
    }
    .textp1
    {
        font-size: 110%;
    }
    .text
    {
        width: 48vw;
        margin-left: 1.3vw;
    }
    .AUBK2{
        font-size: 30%;
        margin-left: 5%;
    }
    .LanSkill
    {
        margin-left: 13vw;
    }
    .MyExp{
        font-size: 80%;
    }
    .o1{
        width: auto;
    }
    .o2{
        padding: 23px 47px;
        height: auto;
    }
    .hire{
        font-size: 80%;
        height: 23vh;
    }
    .o-ser{
        padding-top: 27px;
        padding-bottom: 27px;
        padding-right: 30px;
        padding-left: 25px;
        height: auto;
        font-size: 1rem;
    }
    .o-ser-logo
    {
        width: 65px;
        height: 65px;
    }
    .sertitle{
        font-size: 20px;
    }
    .textp2{
        font-size: 15px;
        font-weight: 300;
    }
    .serviceTable{
        font-size: 50%;
        margin-left: -5%;
    }
    .portfolio-o
    {
        margin-bottom: 15px;
    }
    .serviceCon{
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .form{
        font-size: 80%;
        margin-left: -3%;
    }
    .form1{
        height:auto;
        width: 500px;
        margin-right: 20px;
    }
    .form1 h4{
        font-size: 18px;
        margin-left: -87%;
        margin-bottom: 10px;
    }
    .form-control{
        height: auto;
        margin-bottom: auto;
    }
    .subform1right .form-control{
        height: 150px;
    }
    .btnContact{
        margin-top: 10px;
    }
    .form2{
        height: fit-content;
        font-size: 127%;
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .form2 .textp1{
        margin-bottom: 0;
    }
    .form2 ul{
        margin-bottom: 0;
        margin-top: 20px;
    }
    .titleform2{
        font-size: 20px;
        margin-top: 0;
    }
    .text-contact{
        font-size: 15px;
    }
    .form2 ul li{
        margin-bottom: 18px;
    }
    .icon-footer{
        margin-left: 14%;
    }
    .footer-text{
        margin-right: 14%;
    }
    
    .suzie::after
    {
        top: 75%;
        right: -10%;
    }
}
@media only screen and (max-width:1070px){
    .form{
        margin-left: -7%;
    }
    .headd{
        width: 90%;
        margin-left: 7%;
    }
    .nav{
        width: auto;
        margin-right: 5%;
    }
    .AUBK1{
        margin-left: 7vw;
        font-size: 90%;
        width: auto;
    }
    .AUBK2
    {
        margin-left: 8vw;
    }
    .LanSkill
    {
        margin-left: 6vw;
    }
    .sub-o
    {
        height: auto;
        padding-bottom: 5px;
    }
    .text
    {
        margin-top: 60px;
    }

    .slider-part-1 .slick-list
    {
        left: -5vw;
        width: 110%;
    }
    .temp
    {
        width: 100%;
        display: inline-block;
    }
    .content-slick-1
    {
        width: 100%;
        margin-right: 30px;
    }
    .content-slick
    {
        width: 83%;
    }
    .slick-description p 
    {
        margin-right: 20px;
    }
    .items
    {
        width: 100%;
    }

    .slider-part .slick-list {
        width: 113%;
        height: 62%;
        margin-bottom: 5vh;
        left: -7vw;
        padding-left: -3vw;
    }
}
@media only screen and (max-width:992px){
    .headd{
        margin-left: 0;
        width: 75%;
    }
    .suzie{
        font-size: 70%;
    }
     /* nav start here */
     .mobile-icon
     {
         display: flex;
         /* aloooo */
         margin: -0.5em 0.5em;
         /* right: 13.5%;
         top: 18%; */
     }
     .navbtn
     {
         width: fit-content;
     }
     .nav a
     {
         text-align: left;
     }
     .nav
     {
        display: none;
        margin-right: 0px;
        margin-top: 6%;
        width: fit-content;
        margin: 0;
        font-size: 14px;
     }
     .navbar
     {
         width: 700px;
         display: flex;
         flex-direction: column;
         padding-left:15px;
         padding-top: 8px;
         padding-bottom: 8px;
         background-color: white;
         border: 1px solid var(--shadow-color);
         transform: translate(-7%, 10%);
         
     }
     .navbtn
     {
         display: flex;
         justify-content: left;
         text-transform: uppercase;
         text-align: left; 
         width: 665px;
         border-bottom: 1px solid var(--shadow-color);
         border-radius: 0;
         padding-left: 0;
         margin-right: 0;
         background-color: white;
         color: var(--text-color);
     }
     .navbtn:nth-child(6)
     {
         border-bottom: 1px solid transparent;
     }
     .navbtn:hover
     {
         background-color: white;
         color: var(--main-color);
         transition: all 0s;
     }
     .HomeBK{
        flex-direction: column;
        justify-content: center;
        position: relative;
     }
     .HomeBK::after
     {
         content: none;
     } 
    .HomeContent{
        justify-content: center;
        padding: 0;
        position: absolute;
        margin-left: 15%;
        width: 550px;
        font-size: 16px;
    }
     .content
     {
         padding: 13%;
         background: rgba(255, 255, 255, 0.8);
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         height: 250px;
     }
    .imgsuzy1{
        /* margin-left: -20%; */
        margin-left: 15%
    }
    .hi, .job{
        font-size: 27px;
    }
    .name{
        font-size: 53px;
    }
    .social{
        width: 30px;
        height: 30px;
    }
    .social img{
        width: 15px !important;
        height: 15px !important;
    }
    .info{
        width: 160px;
    }
    .AUBK1{
        margin-left: 30px;
    }
    .text{
        width: 100%;
        font-size: 85%;
        margin-top: 50px;
    }
    .o{
        margin-right: 0;
        width: auto;
    }
    .sub-o{
        width: 150px;
        height: 80px;
    }
    .sub-o:last-child{
        margin: 0;
    }
    .so{
        font-size: 24px;
    }
    .chu{
        font-size: 13px;
    }
    .AUBK2{
        margin: 0;
        padding: 50px 0;
        margin-left: 5%;
    }
    .ExSkill{
        width: 100%;
    }
    .textp2{
        font-size: 12px;
    }
    .skill{
        font-size: 16px;
    }
    .country{
        font-size: 13px;
    }
    .o1{
        width: 20vw;
        height: auto;
    }
    .o1 .circle{
        font-size: 12px;
        width: 40px;
        height: 40px;
    }
    .LanSkill{
        width: 50%;
    }
    .percent
    {
        width: 50%;
    }
    .textp3{
        font-size: 14px;
        width: 50vw;
    }
    .hireCon{
        width: 90%;
    }
    .hireCon .button{
        width: auto;
        font-size: 14px;
        padding: 3px 20px;
    }
    .o-ser{
        /* width: 210px;
        height: 200px; */
        width: 270px;
        height: 250px;
        padding: 20px;
        margin: 10px;
    }
    .serviceTable
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .sertitle{
        margin-top: 20px;
    }
    .port-img {
        width: 320px;
        height: 320px;
    }
    .blur{
        width: 80%;
        height: 95%;
    }
    .service .serviceTable{
        margin-left: 18%;
        margin-right: 20%;
        font-size: 110%;
    }

    .portfolio .serviceTable{
        margin-left: 15%;
        margin-right: 20%;
    }
    .portfolio-o
    {
        /* width: 230px;
        height: 230px; */
        width: 310px;
        height: 290px;
        padding: 0;
        margin: 6px;
    }
    .port-img
    {
        width: 310px;
        height: 290px;
    }
    .blur
    {
        width: 87%;
    }
    .icon-footer{
        margin-left: 8%;
    }
    .footer-text{
        margin-right: 12%;
    }

    .suzie::after
    {
        top: 50%;
        right: -15%;
    }
    /* alooooooooooooooo */
    .AUBK
    {
        position: relative;
    }
    .AUBK1
    {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin: 0;
        width: 100%;
    }
    .text{
        width: 70%;
        margin: 0 auto;
    }
    .sub-o{
        width: 50%;
        height: 50%;
        padding: 10px 10px;
    }
    .so{
        margin: 0;
    }
    .AUBK2
    {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
    .probar{
        width: 100%;
    }
    .LanSkill{
        width: 100%;
        margin: 0;
    }
    .percent{
        width: 100%;
        margin: 0;
    }
    .o1{
        width: auto;
        margin-left: 0;
        margin-right: 5%;
        padding: 5%;
    }
    .MyExp{
        font-size: 65%;
    }
    .textp3{
        width: 110%;
    }
    .o2{
        width: 25vw;
    }
    .circle1{
        width: 40px;
        height: 40px;
    }
    .chart
    {
        width: 100%;
    }
    .year{
        height: 20px;
    }
    .jobtitle{
        font-size: 80%;
    }
    .textp2{
        font-size: 13px;
        font-weight: 400;
    }
    .hire{
        height: auto;
    }
    .hireCon
    {
        display: flex;
        flex-direction: column;
        margin: 40px 0px;
    }
    .hiretext{
        margin: 0;
        font-size: 24px;
    }
    .hireCon .button{
        font-size: 13px;
        padding: 0px 25px;
        margin-top: 20px;
    }
}

@media only screen and (max-width:900px){
    .mobile-icon{
        right: 8vw;
    }
    .navbar{
        transform: translate(-10%, 10%);
    }
    .form{
        margin-left: -11%;
    }
}
@media only screen and (max-width:840px){
    .navbar{
        transform: translate(-15%, 10%);
    }
    .form{
        margin-left: -15%;
    }
    .serviceTable
    {
        margin-left: 10%;
    }
}
@media only screen and (max-width:810px){
    .mobile-icon{
        right: 5vw;
    }
    .navbar{
        transform: translate(-17%, 10%);
    }
    .form{
        margin-left: -12%;
    }
    .form1{
        width: auto;
    }
}
@media only screen and (max-width:792px){
    .headd{
        width: 70%;
    }
    .mobile-icon{
        right: 5vw;
    }
    .navbar{
        transform: translate(-20%, 12%);
    }
    .HomeBK
    {
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .HomeContent
    {
        justify-content: center;
        padding: 0;
        position: absolute;
        margin-left: 15%;
        margin-top: 15%;
        width: 550px;
        font-size: 16px;
    }
    .hi, .job{
        font-size: 23px;
    }
    .name{
        font-size: 50px;
    }
    .content
    {
        padding: 13%;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 250px;
    }
    .suzy1{
        top: auto;
    }
    .imgsuzy1{
        margin-left: 0;
    }
    
    .AUBK
    {
        position: relative;
    }
    .AUBK1
    {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin: 0;
        width: 100%;
    }
    .text{
        width: 70%;
        margin: 0 auto;
    }
    .sub-o{
        width: 50%;
        height: 50%;
        padding: 10px 10px;
    }
    .so{
        margin: 0;
    }
    .AUBK2
    {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
    .probar{
        width: 100%;
    }
    .LanSkill{
        width: 100%;
        margin: 0;
    }
    .percent{
        width: 100%;
        margin: 0;
    }
    .o1{
        width: auto;
        margin-left: 0;
        margin-right: 5%;
        padding: 5%;
    }
    .MyExp{
        font-size: 65%;
    }
    .textp3{
        width: 110%;
    }
    .o2{
        width: 25vw;
    }
    .circle1{
        width: 40px;
        height: 40px;
    }
    .chart
    {
        width: 100%;
    }
    .year{
        height: 20px;
    }
    .jobtitle{
        font-size: 80%;
    }
    .textp2{
        font-size: 13px;
        font-weight: 400;
    }
    .hire{
        height: auto;
    }
    .hireCon
    {
        display: flex;
        flex-direction: column;
        margin: 40px 0px;
    }
    .hiretext{
        margin: 0;
        font-size: 24px;
    }
    .hireCon .button{
        font-size: 13px;
        padding: 0px 25px;
        margin-top: 20px;
    }
    .serviceCon .serviceTable
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .texth1{
        font-size: 30px;
    }
    .form
    {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: auto;
    }
    .form1{
        margin: 0;
        margin-bottom: 20px;
    }
    .form-control{
        font-size: 14px;
    }
    .btnContact{
        height: 30px;
    }
    .form2{
        margin: 0 auto;
    }
    .text-contact{
        font-size: 14px;
    }
    .footer{
        padding: 0;
    }
    .icon-footer{
        margin-left: 17%;
    }
    .icon-footer i{
        font-size: 12px;
        margin-right: 10px;
    }
    .footer-text{
        margin-right: 17%;
    }
    .footer-text p{
        font-size: 12px;
        font-weight: 300;
    }
    
}
@media only screen and (max-width:768px){
    .mobile-icon{
        right: 10vw;
    }
    .navbar{
        width: 540px;
        transform: translate(-10%, 14%);
    }
    .navbtn{
        width: 505px;
    }

    .jobexp
    {
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
    }
    .o2{
        width: 80%;
    }
    .serviceCon .serviceTable{
        width: 100%;
        margin: 0;
    }
    .portfolio-o{
        width: 95%;
        height: 95%;
    }
    .port-img{
        width: 100%;
        height: 100%;
    }
    .content-slick-1
    {
        width: 85%;
        margin: 8vw;
    }
    .for-slick-slider-1 .slick-dots li:last-child:before
    {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        visibility: visible;
        border: 0.5px solid black;
        position: absolute;
        cursor: pointer;
    }
}
@media only screen and (max-width:688px){
    .mobile-icon{
        right: 8vw;
    }
    .navbar{
        transform: translate(-20%, 14%);
    }
    .HomeContent{
        margin-left: 8%;
    }
    .imgsuzy1{
        margin-left: -3%;
    }
    .form{
        margin-left: 0;
    }
    .icon-footer{
        margin-left: 12%;
    }
    .footer-text{
        margin-right: 12%;
    }
}
@media only screen and (max-width:669px){
    .form1{
        padding-left: 20px;
        padding-right: 10px;
    }
    .form-control{
        /* margin-right: 0;
        width: 155px; */
        margin-right: 40px;
        width: 75%;
    }
    .subform1right .form-control{
        margin-right: 0;
    }
}
@media only screen and (max-width:612px){
    .mobile-icon{
        right: 8vw;
    }
    .navbar{
        width: 450px;
        transform: translate(-15%, 16%);
    }
    .navbtn{
        width: 410px;
    }
    .HomeContent{
        margin-left: 15%;
        width: 400px;
    }
    .hi, .job{
        font-size: 16px;
    }
    .name{
        font-size: 32px;
    }
    .imgsuzy1{
        margin-left: -11%;
    }
    .about-picture
    {
        display: flex;
        justify-content: flex-start;
    }
    
    .o-ser{
        width: 80%;
        height: fit-content;
        padding-right: 0;
    }
    .o-ser:nth-child(6){
        height: 265px;
    }
    .sertitle{
        width: fit-content;
        font-size: 18px;
    }
    .textp2{
        width: 80%;
        line-height: 1.7;
    }
    .textp3{
        width: 105%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .form{
        margin: 0 auto;
        width: 100%;
    }
    .form1{
        width: 95%;
        padding-left: 10px;
    }
    .form1 h4{
        margin-left: -72%;
    }

    .form-control{
        width: 93%;
    }
    .subform1{
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
    }
    .btnContact{
        width: 93%;
        margin-top: 25px;
        margin-left: 0;
    }
    .text-contact{
        width: 80%;
    }
    .footer
    {
        display: flex;
        flex-direction: column;
    }
    .icon-footer{
        margin: 0 auto;
        margin-top: 8px;
    }
    .footer-text{
        margin: 0 auto;
    }
    .footer-text p{
        margin-top: 2px;
        font-size: 11px;
        font-weight: 400;
    }
    .o1
    {
        margin: 10px;
    }
    .o2
    {
        margin-bottom: 15px;
    }
    .button
    {
        height: 35px;
        padding: 0px 17px;
    }
}

@media only screen and (max-width:576px){
    html{
        overflow-x: hidden;
    }
    .headd{
        margin: 0;
        width: 90%;
    }
    .suzie::after{
        top: 30px;
    }
    .mobile-icon{
        right: 5%;
    }
    .navbar{
        width: 400px;
        transform: translate(-10%, 16%);
    }
    .navbtn{
        width: 370px;
    }
    .navbtn:nth-child(6){
        width: 350px;
    }
    .HomeContent{
        transform: translateX(-12%);
    }
    .content{
        width: 100%;
        height: 40vh;
    }
    .hi, .job{
        font-size: 18px;
    }
    .name{
        font-size: 35px;
    }
    .suzy1{
        width: fit-content;
    }
    .text{
        width: 90%;
    }
    .AUBK2{
        width: 90%;
    }
    .probar{
        margin-bottom: 20px;
    }
    .o1{
        height: 60px;
    }
    .MyExp{
        width: 90%;
    }
    .textp3{
        width: 100%;
    }
    .jobexp{
        width: 90%;
        transform: translateX(-2%);
    }
    .serviceCon{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .serviceCon .MyExp{
        width: 90%;
        margin: 0 auto;
    }
    .serviceCon .serviceTable {
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .o-ser{
        width: 93%;
    }
    .o-ser:nth-child(6){
        height: auto;
    }
    .textp2{
        width: 95%;
    }
    .MyExp1{
        width: 90%;
        margin: 0 auto;
    }
    .portfolio-o{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .port-img {
        width: 98%;
        height: 98%;
    }
    .blur{
        width: 91%;
        height: 93%;
    }
    .port-text
    {
        font-size: 160%;
        margin: 5%;
    }
    .plus
    {
        width: 13%;
        height: 13%;
    }
    .form{
        width: 90%;
    }
    .form1{
        padding: 0;
        width: 100%;
    }
    .subform1{
        width: 90%;
    }
    .groupform1{
        margin-bottom: 20px;
    }
    .form-control{
        margin-right: 0;
        width: 93%;
        height: 30px;
    }
    .btnContact{
        width: 90%;
        /* transform: translateX(8px); */
    }
    .form2{
        margin: 0;
    }
    .icon-footer i{
        margin-top: 10px;
        font-size: 16px;
    }
    .footer-text p{
        margin-top: 5px;
        font-size: 14px;
    }
    .content-slick
    {
        width: 73%;
        margin: 7%;
    }
    .rate 
    {
        margin-bottom: 11vw;
    }
}

@media only screen and (max-width:540px){
    .HomeContent{
        transform: translateX(-16%);
    }
    .content{
        width: 95%;
    }
}

@media only screen and (max-width:500px){
    .navbar{
        width: 350px;
        transform: translate(-10%, 17%);
    }
    .navbtn{
        width: 320px;
    }
    .HomeContent{
        margin-left: 12%;
        transform: translateX(-10%);
    }
    .content{
        width: 80%;
    }
    .year
    {
        margin-left: -1.4vw;
    }
}

@media only screen and (max-width:440px){
    .navbar{
        transform: translate(-14%, 17%);
    }
    .HomeContent{
        margin-left: 10%;
        transform: translateX(-6%);
    }
    .content{
        width: 80%;
        padding: 13% 4%;
    }
}
@media only screen and (max-width: 411px){
    .navbar{
        width: 320px;
        transform: translate(-20%, 17%);
    }
    .navbtn{
        width: 280px;
    }
}
@media only screen and (max-width:375px){
    .navbar{
        width: 250px;
        transform: translate(-13%, 20%);
    }
    .navbtn{
        width: 220px;
    }
    .HomeContent{
        margin-left: 10%;
        transform: translateX(-4%);
    }
    .content{
        width: 60vw;
        padding: 10% 10%;
        line-height: 40px;
    }
    .jobexp{
        margin: 0 auto;
        transform: none;
    }
    .o2{
        width: 83%;
        padding: 23px 23px;
    }
    .texth1{
        text-align: center;
    }
    .o-ser{
        width: 89%;
    }
    .form1 h4{
        margin-left: -55%;
    }
    .subform1{
        width: 80%;
    }
    .form-control{
        width: 90%;
    }
    .btnContact{
        width: 80%;
    }
}
@media only screen and (max-width:360px){}
@media only screen and (max-width:334px){
    .mobile-icon{
        right: 2%;
    }
    .navbar{
        width: 250px;
        transform: translate(-20%, 20%);
    }
    .navbtn{
        width: 220px;
    }
    .sub-o
    {
        padding: 3% 6%;
    }
}

@media only screen and (max-width:280px){
    .sub-o
    {
        padding: 5% 7%;
        margin-right: 5%;
    }
}