@media only screen and (min-width:1201px){
    .html{
        font-size: 16px;
    }
    .head
    {
        margin: 0 auto;
    }
    .suzie{
        font-size: 88%;
    }
    .nav{
        width: auto;
        margin-top: 18px;
    }
    .navbtn
    {
        display: inline;
        padding: 8px 20px;
    }
    .social
    {
        border-radius: 3.1vw;
    }
    .AUBK1
    {
        font-size: 90%;
    }
    .texth1
    {
        padding-top: 5px;
        font-size: 230%;
    }
    .textp1
    {
        font-size: 110%;
    }
    .text
    {
        width: 34vw;
        margin-left: 1.3vw;
    }
    .AUBK2
    {
        width: 83vw;
        margin-bottom: 6vw;
    }
    .imgsuzy2
    {
        width: 90%;
        height: 100%;
        bottom: 0;
        margin-left: 1vw;
    }
    .o1{
        width: auto;
    }
    .o-ser
    {
        padding-right:15px;
        height: auto;
    }
    .slick-list
    {
        width: 85vw;
        left: -5vw;
        height: 40vh;

    }
    .items{
        margin-left: 0.87%;
        margin-top: 15px;
        width: 100%;
    }
    .content-slick
    {
        padding: 20px 45px;
    }

    .slick-slide
    {
        float:none;
    }
    .slick-dots{
        margin-top: 0;
        margin-left: 4%;
        margin-right: -4%;
    }
    .form{
        font-size: 70%;
    }
    .form1{
        height: fit-content;
        width: auto;
        margin-right: 20px;
    }
    .form2{
        height: fit-content;
        font-size: 127%;
    }
    .titleform2{
        font-size: 24px;
    }
    .text-contact{
        font-size: 17.6px;
    }
    .icon-footer{
        margin-left: 14%;
    }
    .icon-footer{
        margin-left: 13%;
    }
    .footer-text{
        margin-right: 12%;
    }

    .hightlight1::before
    {
        top:50px;
    }
    .EXP:hover .hightlight1::before
    {
        width: 25%;
        left: 37%;
    }

    .hightlight2::before
    {
        top:50px;
    }
    .service:hover .hightlight2::before
    {
        /* width: 440px;
        left: 320px; */
        width: 40%;
        left: 30%;
    }
    .hightlight3::before
    {
        top:50px;
    }
    .portfolio:hover .hightlight3::before
    {
        /* width: 300px;
        left: 380px; */
        width: 30%;
        left: 35%;
        z-index: 0;
    }
    .hightlight4::before
    {
        top:50px;
    }
    .service:hover .hightlight4::before
    {
        /* width: 500px;
        left: 280px; */
        width: 46%;
        left: 27%;
    }

    .hightlight5::before
    {
        top:50px;
    }
    .portfolio:hover .hightlight5::before
    {
        width: 27%;
        left: 37%;
        /* width: 300px;
        left: 390px; */
        z-index: 0;
    }

    .hightlight6::before
    {
        top:50px;
    }
    .service:hover .hightlight6::before
    {
        /* width: 240px;
        left: 420px; */
        width: 21%;
        left: 39%;
        z-index: 0;
    }

    /* .tooltip1
    {
        left:85%;
    }
    .tooltip2
    {
        left:68%;
    }
    .tooltip3
    {
        left:79%;
    }
    .tooltip4
    {
        left:81%;
    } */
}

@media only screen and (max-width:1200px){

    
    .tooltip1
    {
        left:85%;
    }
    .tooltip2
    {
        left:68%;
    }
    .tooltip3
    {
        left:79%;
    }
    .tooltip4
    {
        left:81%;
    }

    .headd{
        width: 90%;
        margin-left: 0;
    }
    .nav{
        width: auto;
        margin-top: 18px;
        margin-right: 0;
    }
    .navbtn
    {
        display: inline;
        padding: 8px 20px;
    }
    .AUBK1{
        margin-left: 3.7vw;
        font-size: 90%;
        width: auto;
    }
    .suzy1{
        /* top: -10px; */
        bottom: 0;
    }
    .texth1
    {
        padding-top: 5px;
        font-size: 230%;
    }
    .textp1
    {
        font-size: 110%;
    }
    .text
    {
        width: 48vw;
        margin-left: 1.3vw;
    }
    .imgsuzy2{
        width: 85%;
        height: 100%;
        bottom: 0;
        margin-left:0;
    }
    .AUBK2{
        font-size: 30%;
        margin-left: 5%;
    }
    .LanSkill
    {
        margin-left: 13vw;
    }
    .MyExp{
        font-size: 80%;
    }
    .o1{
        width: auto;
    }
    .o2{
        padding: 23px 47px;
        height: auto;
    }
    .hire{
        font-size: 80%;
        height: 23vh;
    }
    .o-ser{
        padding-top: 27px;
        padding-bottom: 27px;
        padding-right: 30px;
        padding-left: 25px;
        height: auto;
        font-size: 1rem;
    }
    .o-ser-logo
    {
        width: 65px;
        height: 65px;
    }
    .sertitle{
        font-size: 20px;
    }
    .textp2{
        font-size: 15px;
        font-weight: 300;
    }
    .serviceTable{
        font-size: 50%;
        margin-left: -5%;
    }
    .portfolio-o
    {
        margin-bottom: 15px;
    }
    .serviceCon{
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .form{
        font-size: 80%;
        margin-left: -3%;
    }
    .form1{
        height:auto;
        width: 500px;
        margin-right: 20px;
    }
    .form1 h4{
        font-size: 18px;
        margin-left: -87%;
        margin-bottom: 10px;
    }
    .form-control{
        height: auto;
        margin-bottom: auto;
    }
    .subform1right .form-control{
        height: 150px;
    }
    .btnContact{
        margin-top: 10px;
    }
    .form2{
        height: fit-content;
        font-size: 127%;
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .form2 .textp1{
        margin-bottom: 0;
    }
    .form2 ul{
        margin-bottom: 0;
        margin-top: 20px;
    }
    .titleform2{
        font-size: 20px;
        margin-top: 0;
    }
    .text-contact{
        font-size: 15px;
    }
    .form2 ul li{
        margin-bottom: 18px;
    }
    .icon-footer{
        margin-left: 14%;
    }
    .footer-text{
        margin-right: 14%;
    }

    .hightlight1::before
    {
        top:35px;
    }
    .EXP:hover .hightlight1::before
    {
        width: 220px;
        left: 310px;
    }

    .hightlight2::before
    {
        top:35px;
    }
    .service:hover .hightlight2::before
    {
        width: 350px;
        left: 245px;
    }
    .hightlight3::before
    {
        top:47px;
    }
    .portfolio:hover .hightlight3::before
    {
        width: 280px;
        left: 275px;
        z-index: 0;
    }
    .hightlight4::before
    {
        top:40px;
    }
    .service:hover .hightlight4::before
    {
        width: 400px;
        left: 220px;
    }

    .hightlight5::before
    {
        top:40px;
    }
    .portfolio:hover .hightlight5::before
    {
        width: 240px;
        left: 300px;
        z-index: 0;
    }

    .hightlight6::before
    {
        top:40px;
    }
    .service:hover .hightlight6::before
    {
        width: 180px;
        left: 330px;
        z-index: 0;
    }
}
@media only screen and (max-width:1070px){
    .form{
        margin-left: -7%;
    }
    .headd{
        width: 90%;
        margin-left: 7%;
    }
    .nav{
        width: auto;
        margin-top: 18px;
        margin-right: 5%;
    }
    .AUBK1{
        margin-left: 7vw;
        font-size: 90%;
        width: auto;
    }
    .AUBK2
    {
        margin-left: 8vw;
    }
    .LanSkill
    {
        margin-left: 6vw;
    }
    .imgsuzy2
    {
        width: 80%;
    }
    .sub-o
    {
        height: auto;
        padding-bottom: 5px;
    }
    .text
    {
        margin-top: 60px;
    }

    .hightlight1::before
    {
        top:40px;
    }
    .EXP:hover .hightlight1::before
    {
        width: 230px;
        left: 260px;
    }
    .hightlight2::before
    {
        top:40px;
    }
    .service:hover .hightlight2::before
    {
        width: 360px;
        left: 200px;
    }
    .hightlight3::before
    {
        top:50px;
    }
    .portfolio:hover .hightlight3::before
    {
        width: 280px;
        left: 230px;
        z-index: 0;
    }
    .hightlight4::before
    {
        top:40px;
    }
    .service:hover .hightlight4::before
    {
        width: 400px;
        left: 170px;
    }

    .hightlight5::before
    {
        top:40px;
    }
    .portfolio:hover .hightlight5::before
    {
        width: 250px;
        left: 250px;
        z-index: 0;
    }

    .hightlight6::before
    {
        top:40px;
    }
    .service:hover .hightlight6::before
    {
        width: 200px;
        left: 280px;
        z-index: 0;
    }

    .tooltip1
    {
        left:84%;
    }
    .tooltip2
    {
        left:67%;
    }
    .tooltip3
    {
        left:78%;
    }
    .tooltip4
    {
        left:80%;
    }

    .slider-part-1 .slick-list
    {
        left: -5vw;
        width: 110%;
    }
    .items-1
    {
        margin-right: 1.3vw;
    }
    .temp
    {
        width: 100%;
        display: inline-block;
    }
    .content-slick-1
    {
        width: 100%;
        margin-right: 30px;
    }
    .content-slick
    {
        width: 83%;
        margin: 25px 43px;
        font-size: 80%;
    }
    .slick-description p 
    {
        margin-right: 20px;
    }
    .items
    {
        margin-left: 30px;
        width: 100%;
    }

    .slider-part .slick-list {
        width: 113%;
        height: 62%;
        margin-bottom: 5vh;
        left: -7vw;
        padding-left: -3vw;
    }
}
@media only screen and (max-width:992px){
    .headd{
        margin-left: 0;
    }
    .suzie{
        font-size: 70%;
    }
    .nav{
        margin: 0;
        font-size: 14px;
    }
    .imgsuzy1{
        margin-left: -20%;
    }
    .hi, .job{
        font-size: 20px;
    }
    .name{
        font-size: 45px;
    }
    .social{
        width: 30px;
        height: 30px;
    }
    .social img{
        width: 15px !important;
        height: 15px !important;
    }
    .info{
        width: 160px;
    }
    .AUBK1{
        margin-left: 30px;
        height: 80vh;
    }
    .imgsuzy2{
        /* margin-left: 5px; */
        width: 99%;
    }
    .text{
        width: 100%;
        font-size: 85%;
        margin-top: 50px;
    }
    .o{
        margin-right: 0;
        width: auto;
    }
    .sub-o{
        width: 150px;
        height: 80px;
    }
    .sub-o:last-child{
        margin: 0;
    }
    .so{
        font-size: 24px;
    }
    .chu{
        font-size: 13px;
    }
    .AUBK2{
        margin: 0;
        padding: 50px 0;
        margin-left: 5%;
    }
    .ExSkill{
        width: 100%;
    }
    .textp2{
        font-size: 12px;
    }
    .skill{
        font-size: 16px;
    }
    .country{
        font-size: 13px;
    }
    .o1{
        width: 20vw;
        height: auto;
    }
    .o1 .circle{
        font-size: 12px;
        width: 40px;
        height: 40px;
    }
    .LanSkill{
        width: 50%;
    }
    .percent
    {
        width: 50%;
    }
    .probar
    {
        width: 35vw;
        height: 3vh;
    }
    .filler1
    {
        height: 3vh;
    }
    .filler2
    {
        height: 3vh;
    }
    .filler3
    {
        height: 3vh;
    }
    .filler4
    {
        height: 3vh;
    }
    .tooltip1
    {
        height: 0.1vh;
        left: 84%;
        bottom: 10px;
    }
    .tooltip2
    {
        height: 0.1vh;
        left: 67%;
        bottom: 10px;
    }
    .tooltip3
    {
        height: 0.1vh;
        left: 78%;
        bottom: 10px;
    }
    .tooltip4
    {
        height: 0.1vh;
        left: 80%;
        bottom: 10px;
    }
    .textp3{
        font-size: 14px;
        width: 50vw;
    }
    .hireCon{
        width: 90%;
    }
    .hireCon .button{
        width: auto;
        font-size: 14px;
        padding: 3px 20px;
    }
    .o-ser{
        width: 210px;
        height: 200px;
        padding: 20px;
        margin: 10px;
    }
    .serviceTable
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        /* margin-left: 5px; */
    }
    .sertitle{
        margin-top: 20px;
    }
    .port-img {
        width: 320px;
        height: 320px;
    }
    .blur{
        width: 80%;
        height: 95%;
    }
    .service .serviceTable{
        margin-left: 18%;
        margin-right: 20%;
        font-size: 110%;
    }

    .portfolio .serviceTable{
        margin-left: 15%;
        margin-right: 20%;
    }
    .portfolio-o
    {
        width: 230px;
        height: 230px;
        padding: 0;
        margin: 6px;
    }
    .port-img
    {
        width: 230px;
        height: 230px;
    }
    .blur
    {
        width: 87%;
    }
    .icon-footer{
        margin-left: 8%;
    }
    .footer-text{
        margin-right: 12%;
    }

    .EXP:hover .hightlight1::before
    {
        width: 220px;
        left: 240px;
    }

    .service:hover .hightlight2::before
    {
        width: 350px;
        left: 170px;
    }

    .portfolio:hover .hightlight3::before
    {
        width: 300px;
        left: 200px;
        z-index: 0;
    }

    .service:hover .hightlight4::before
    {
        width: 420px;
        left: 140px;
    }

    .portfolio:hover .hightlight5::before
    {
        width: 240px;
        left: 230px;
        z-index: 0;
    }
    .service:hover .hightlight6::before
    {
        width: 200px;
        left: 250px;
        z-index: 0;
    }
}
@media only screen and (max-width:900px){
    .form{
        margin-left: -11%;
    }

    .EXP:hover .hightlight1::before
    {
        width: 210px;
        left: 210px;
    }

    .service:hover .hightlight2::before
    {
        width: 350px;
        left: 140px;
    }

    .portfolio:hover .hightlight3::before
    {
        width: 290px;
        left: 170px;
        z-index: 0;
    }

    .service:hover .hightlight4::before
    {
        width: 390px;
        left: 120px;
    }

    .portfolio:hover .hightlight5::before
    {
        width: 230px;
        left: 200px;
        z-index: 0;
    }
    .service:hover .hightlight6::before
    {
        width: 190px;
        left: 220px;
        z-index: 0;
    }
    .tooltip1
    {
        left: 83%;
    }
    .tooltip2
    {
        left: 66%;
    }
    .tooltip3
    {
        left: 77%;
    }
    .tooltip4
    {
        left: 79%;
    }

}
@media only screen and (max-width:840px){
    .form{
        margin-left: -15%;
    }
    .imgsuzy2
    {
        width: 98%;
    }
    .serviceTable
    {
        margin-left: 10%;
    }

    .EXP:hover .hightlight1::before
    {
        width: 210px;
        left: 190px;
    }

    .service:hover .hightlight2::before
    {
        width: 350px;
        left: 120px;
    }

    .portfolio:hover .hightlight3::before
    {
        width: 290px;
        left: 150px;
        z-index: 0;
    }

    .service:hover .hightlight4::before
    {
        width: 390px;
        left: 100px;
    }

    .portfolio:hover .hightlight5::before
    {
        width: 230px;
        left: 180px;
        z-index: 0;
    }
    .service:hover .hightlight6::before
    {
        width: 190px;
        left: 200px;
        z-index: 0;
    }
    .tooltip1
    {
        left: 82%;
    }
    .tooltip2
    {
        left: 65%;
    }
    .tooltip3
    {
        left: 76%;
    }
    .tooltip4
    {
        left: 78%;
    }
}
@media only screen and (max-width:810px){
    .form{
        margin-left: -12%;
    }
    .form1{
        width: auto;
    }
}
@media only screen and (max-width:792px){
    .headd{
        width: 70%;
    }
    .mobile-icon
    {
        display: flex;
        right: 13.5%;
        top: 18%;
    }
    .navbtn
    {
        width: fit-content;
    }
    .nav a
    {
        text-align: left;
    }
    .nav
    {
        display: none;
        margin-right: 0px;
        margin-top: 12%;
        width: fit-content;
        transform: translateX(-80px);
    }
    .navbar
    {
        width: 550px;
        display: flex;
        flex-direction: column;
        padding-left:15px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: white;
        border: 1px solid var(--shadow-color);
    }
    .navbtn
    {
        display: flex;
        justify-content: left;
        text-transform: uppercase;
        text-align: left; 
        width: 515px;
        border-bottom: 1px solid var(--shadow-color);
        border-radius: 0;
        padding-left: 0;
        margin-right: 0;
    }
    .navbtn:nth-child(6)
    {
        display: flex;
        justify-content: left;
        text-align: left; 
        width: 455px;
        border-bottom: 1px solid transparent;
        border-radius: 0;
    }
    .navbtn:hover
    {
        background-color: white;
        color:rgb(255, 97, 97);
        transition: all 0s;
    }
    .HomeBK
    {
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .HomeContent
    {
        justify-content: center;
        padding: 0;
        position: absolute;
        margin-left: 15%;
        margin-top: 15%;
        width: 550px;
        font-size: 16px;
    }
    .HomeBK::after
    {
        content: none;
    }
    .hi, .job{
        font-size: 23px;
    }
    .name{
        font-size: 50px;
    }
    .content
    {
        padding: 50px 45px;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 250px;
    }
    .suzy1{
        top: auto;
    }
    .imgsuzy1{
        margin-left: 0;
    }
    .imgsuzy2
    {
        width: 90%;
    }
    
    .AUBK
    {
        position: relative;
    }
    .AUBK1
    {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin: 0;
        width: 100%;
    }
    .text{
        width: 70%;
        margin: 0 auto;
    }
    .sub-o{
        width: 50%;
        height: 50%;
        padding: 10px 10px;
    }
    .so{
        margin: 0;
    }
    .imgsuzy2{
        width: 70%;
        margin-left: 15%;
    }
    .AUBK2
    {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
    .probar{
        width: 100%;
    }
    .LanSkill{
        width: 100%;
        margin: 0;
    }
    .percent{
        width: 100%;
        margin: 0;
    }
    .o1{
        width: auto;
        margin-right: 0;
    }
    .MyExp{
        font-size: 65%;
    }
    .textp3{
        width: 110%;
    }
    .o2{
        width: 25vw;
    }
    .circle1{
        width: 40px;
        height: 40px;
    }
    .year{
        height: 20px;
    }
    .jobtitle{
        font-size: 80%;
    }
    .textp2{
        font-size: 13px;
        font-weight: 400;
    }
    .hire{
        height: auto;
    }
    .hireCon
    {
        display: flex;
        flex-direction: column;
        margin: 40px 0px;
    }
    .hiretext{
        margin: 0;
        font-size: 24px;
    }
    .hireCon .button{
        font-size: 13px;
        padding: 0px 25px;
        margin-top: 20px;
    }
    .serviceCon .serviceTable
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .texth1{
        font-size: 30px;
    }
    .form
    {
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .form1{
        margin: 0;
        margin-bottom: 20px;
        width: 98%;
    }
    .form-control{
        font-size: 14px;
    }
    .btnContact{
        height: 30px;
    }
    .form2{
        margin: 0 auto;
        width: 93%;
    }
    .text-contact{
        font-size: 14px;
    }
    .footer{
        padding: 0;
    }
    .icon-footer{
        margin-left: 17%;
    }
    .icon-footer i{
        font-size: 12px;
        margin-right: 10px;
    }
    .footer-text{
        margin-right: 17%;
    }
    .footer-text p{
        font-size: 12px;
        font-weight: 300;
    }

    .EXP:hover .hightlight1::before
    {
        width: 210px;
        left: 170px;
    }

    .service:hover .hightlight2::before
    {
        width: 350px;
        left: 100px;
    }
    .hightlight3::before
    {
        top: 40px;
    }

    .portfolio:hover .hightlight3::before
    {
        width: 240px;
        left: 160px;
        z-index: 0;
    }

    .service:hover .hightlight4::before
    {
        width: 390px;
        left: 80px;
    }

    .portfolio:hover .hightlight5::before
    {
        width: 230px;
        left: 160px;
        z-index: 0;
    }
    .service:hover .hightlight6::before
    {
        width: 190px;
        left: 180px;
        z-index: 0;
    }
    .tooltip1
    {
        left: 86.5%;
    }
    .tooltip2
    {
        left: 69.5%;
    }
    .tooltip3
    {
        left: 80.5%;
    }
    .tooltip4
    {
        left: 82.5%;
    }
}
@media only screen and (max-width:767px){
    .jobexp
    {
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
    }
    .o2{
        width: 80%;
    }
    .serviceCon .serviceTable{
        width: 100%;
        margin: 0;
    }
    .portfolio-o{
        width: 95%;
        height: 95%;
    }
    .port-img{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width:688px){
    .HomeContent{
        margin-left: 8%;
    }
    .imgsuzy1{
        margin-left: -3%;
    }
    .form{
        margin-left: 0;
    }
    .icon-footer{
        margin-left: 12%;
    }
    .footer-text{
        margin-right: 12%;
    }
    .EXP:hover .hightlight1::before
    {
        width: 230px;
        left: 130px;
    }

    .service:hover .hightlight2::before
    {
        width: 350px;
        left: 70px;
    }

    .portfolio:hover .hightlight3::before
    {
        width: 240px;
        left: 120px;
        z-index: 0;
    }

    .service:hover .hightlight4::before
    {
        width: 390px;
        left: 50px;
    }

    .portfolio:hover .hightlight5::before
    {
        width: 230px;
        left: 130px;
        z-index: 0;
    }
    .service:hover .hightlight6::before
    {
        width: 190px;
        left: 150px;
        z-index: 0;
    }
    .tooltip1
    {
        left: 85%;
    }
    .tooltip2
    {
        left: 68%;
    }
    .tooltip3
    {
        left: 79%;
    }
    .tooltip4
    {
        left: 81%;
    }
    
}
@media only screen and (max-width:612px){
    .HomeContent{
        margin-left: 15%;
        width: 400px;
    }
    .hi, .job{
        font-size: 16px;
    }
    .name{
        font-size: 32px;
    }
    .imgsuzy1{
        margin-left: -11%;
    }
    .about-picture
    {
        display: flex;
        justify-content: flex-start;
    }
    
    .o-ser{
        width: 80%;
        height: fit-content;
        padding-right: 0;
    }
    .o-ser:nth-child(6){
        height: 265px;
    }
    .sertitle{
        width: fit-content;
        font-size: 18px;
    }
    .textp2{
        width: 80%;
        line-height: 1.7;
    }
    .textp3{
        width: 105%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .form{
        margin: 0 auto;
        width: 100%;
    }
    .form1{
        width: 95%;
        padding-left: 10px;
    }
    .form1 h4{
        margin-left: -72%;
    }
    .form-control{
        width: 90%;
    }
    .subform1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .btnContact{
        width: 90%;
        margin-top: 25px;
    }
    .form2{
        width: 84%;
    }
    .text-contact{
        width: 80%;
    }
    .footer
    {
        display: flex;
        flex-direction: column;
    }
    .icon-footer{
        margin: 0 auto;
        margin-top: 8px;
    }
    .footer-text{
        margin: 0 auto;
    }
    .footer-text p{
        margin-top: 2px;
        font-size: 11px;
        font-weight: 400;
    }
    .tooltip1
    {
        left: 84.5%;
    }
    .tooltip2
    {
        left: 67.3%;
    }
    .tooltip3
    {
        left: 78.5%;
    }
    .tooltip4
    {
        left: 80.5%;
    }
    .o1
    {
        margin: 10px;
    }
    .o2
    {
        margin-bottom: 15px;
    }
    .button
    {
        height: 35px;
        padding: 0px 17px;
    }
}