:root
{
    --text-color: rgb(17, 11, 46);
    --main-color: rgb(252, 77, 77);
}
.header1
{
    display: flex;
    justify-content: center;
    position: fixed;
}

.headd
{
    width: 70vw;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.suzie
{
    width: fit-content;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}
.nav
{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 430;
    font-size: 17px;
    color: var(--text-color);
}
.navbtn
{
    width: fit-content;
    padding-left:15px;
    padding-right: 15px;
    padding-top:8px;
    padding-bottom: 8px;
    border-radius: 18px;
    color: var(--text-color);
    cursor: pointer;
}
.navbtn:hover
{
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
}
.navbtn:active
{
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
}
.container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.HomeBK
{
    background-color: rgba(250, 220, 218, 0.74);
    display: flex;
    justify-content: space-between;
}
.HomeContent
{
    padding-top:30vh;
    padding-left:1vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 49.95vw;
    height: 10vh;
}
.hi 
{
    font-family: 'Rubik', sans-serif;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 500;
    height: fit-content;
    margin: 0;
}
.name 
{
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    font-size: 70px;
    font-weight: 700;
    top:-10vh;
    margin: 0;
}

.job 
{
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    height: fit-content;
    margin: 0;
}

.suzy1 
{
    width: 35vw;
    background-color: rgb(255, 255, 255);
    padding-left: 13vw;
    padding-top: 10vh;
    border-top-right-radius: 23vw;
    border-bottom-right-radius: 23vw;
}

.imgsuzy1
{
    width: 35vw;
    height: 90vh;
    border-bottom-right-radius: 22vw;
}

.info
{
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vw;
}

.social
{
    border-radius: 3.4vw;
    width: 2.7vw;
    height: 5.8vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social:hover 
{
    background-color: var(--text-color);
}
.AUBK 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.AUBK1
{
    margin-left: 17vw;
    display: flex;
    flex-direction: row-reverse;
    width: 73vw;
}
.o 
{
    width: 37vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top:5vh;
}

.sub-o
{
    border-color: var(--main-color);
    border-width: 1.3px;
    border-style:dashed;
    border-radius: 1vw;
    padding-left: 1.3vw;
    width: 13vw;
    margin-right: 4vw;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(255, 118, 118, 0.041);
    height: 15vh;
}
.so 
{
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--main-color);
    margin-top:2vh;
    margin-bottom: 0;
}
.chu
{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:  var(--text-color);
    margin-top:0;
}
.text 
{
    width: 35vw;
    margin-right: 5vw;
    margin-top: 6vh;
}

.texth1 
{
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--text-color);
}

.textp1
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(8, 5, 20, 0.63);
}

.imgsuzy2 
{
    width: 35vw;
    height: 93vh;
    margin-left: 2vw;
}

.AUBK2
{
    margin-top: 5vw;
    margin-left: 13vw;
    display: flex;
    flex-direction: row;
    width: 73vw;
    margin-bottom: 6vw;
}
.skill
{
    font-family: 'Rubik', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: var(--text-color);
}
.textp2
{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(8, 5, 20, 0.63);
}
.ExSkill
{
    width: 30vw;
}
.LanSkill
{
    width: 30vw;
    margin-left: 9vw;
}
.percent 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30vw;
    margin-left: -1vw;
}
.o1
{
    width: 15vw;
    height: 7.8vh;
    display: flex;
    flex-direction: row;
    padding: 1vw;
    background-color: white;
    margin: 1vw;
    align-items: center;
    justify-content: left;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.089);
    border-width: 1px;
}
.o1:hover 
{
    box-shadow: 3px 3px 15px rgba(136, 136, 136, 0.274);
    transform: translateY(-0.3vw);
    transition: 0.5s;
}
.circle
{
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.country
{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.probar
{
    width: 33vw;
    height: 4vh;
    background-color: white;
    position: relative;
    z-index: 0;
    margin-top: 1.3vw;
    margin-bottom: 0.8vw;
}

.filler
{
    width: 29vw;
    height: 4vh;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.tooltip
{   
    color: aliceblue;
    background-color: #131313;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    position: absolute;
    z-index: 2;
    right: 3.2vw;
    height: 0.25vh;
    width: 1.1vw;
    margin-bottom: 10vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 11px;
}
.chart
{
    display: flex;
    flex-direction: column;
}
.EXP
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MyExp
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.textp3
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(8, 5, 20, 0.63);
    margin-top: -0.5vw;
    width: 43vw;
    text-align: center;
}

.jobtitle
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 0.3vw;
    margin-top: 1vw;
}

.year 
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: white;
    width: 6.2vw;
    height: 3.7vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.4vw;
}
.icon
{
    width: 1.3vw;
    height: 1.3vw;
}
.title 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.circle1
{
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.o2
{
    width: 32vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    background-color: white;
    margin: 1vw;
    align-items: left;
    justify-content: left;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.089);
    border-width: 1px;
}
.jobexp
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1vw;
    margin-bottom: 5vw;
}
.o2:hover 
{
    box-shadow: 3px 3px 15px rgba(136, 136, 136, 0.274);
    transform: translateY(-0.3vw);
    transition: 0.4s;
}

.hire
{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    height: 23vh;
}
.hireCon
{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hiretext
{
    font-family: 'Rubik', sans-serif;
    font-size: 29px;
    font-weight: 500;
    color: white;
}
.button
{
    height: 6vh;
    width: 10vw;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    border: none;
}
.button:hover
{
    color: white;
    background-color: var(--main-color);
    border-width: 1px;
    border-color: white;
    border-style: solid;
}
.service
{
    display: flex;
    justify-content: center;
    background-color:rgba(250, 220, 218, 0.356);
}

.serviceCon
{
    width: 73vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.serviceTable
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2vw;
}
.sertitle
{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 0.3vw;
    margin-top: 1vw;
}
.o-ser
{
    width: 20.5vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    padding-left: 1.8vw;
    padding-top:1.6vw;
    padding-bottom: 1.6vw;
    background-color: white;
    margin: 1vw;
    align-items: left;
    justify-content: center;
    box-shadow: 0px 0px 13px rgba(136, 136, 136, 0.178);
}
.o-ser:hover
{
    transform: translate(0.3vw,-0.3vw);
    transition: 0.4s;
    box-shadow: -0.6vw 0.6vw var(--main-color);
}
.o-ser-logo
{
    width: 5vw;
    height: 5vw;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}