:root
{
    --text-color: rgb(17, 11, 46);
    --main-color: rgb(255, 97, 97);
    --shadow-color: rgba(136, 136, 136, 0.274);
    --text-p-color:rgba(8, 5, 20, 0.63);
    --hightlight-color:rgba(255, 0, 43, 0.178);
    --bk-color:rgba(250, 220, 218, 0.315);
}
.header1
{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 50;
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 11%;
    /* box-shadow: 3px 3px 15px rgba(136, 136, 136, 0.274) ; */
}

.headd
{
    width: 73vw;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 0%;
}
.suzie
{
    width: fit-content;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}
.nav
{
    
    width: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 480;
    font-size: 16px;
    color: var(--text-color);
    visibility: visible;
}

.navbtn
{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 15px; */
    padding-left:5px;
    padding-right: 5px;
    padding-top:8px;
    padding-bottom: 8px;
    border-radius: 18px;
    color: var(--text-color);
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
}
.navbtn:hover
{
    background-color: var(--main-color);
    color: white;
    transition: 0.5s;
}
.navbtn:active
{
    background-color: var(--main-color);
    color: white;
    transition: 0.5s;
}
.container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
.HomeBK
{
    background-color: rgba(255, 216, 213, 0.644);
    display:flex;
    justify-content: space-between;
    overflow: hidden;
    position:inherit;
    height: 100vh;
    /* width: 99%; */
    margin: 0;
    
}
.HomeBK::after
{
    content: "";
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    top: -160px;
    left: -200px;
    background-color: #fff;
    z-index: 0;
   
}

.HomeContent
{
    padding-top:30vh;
    /* padding-left:1vw; */
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    height: 10vh;
    z-index: 5;
    padding-left: 53%;
}
.hi 
{
    font-family: 'Rubik', sans-serif;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 500;
    height: fit-content;
    margin: 0;
}
.name 
{
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    font-size: 70px;
    font-weight: 700;
    top:-10vh;
    margin: 0;
}

.job 
{
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    height: fit-content;
    margin: 0;
}

.suzy1 
{
    z-index: 1;
    /* overflow: hidden; */
    position: absolute;
    /* top: 30px; */
    bottom: 0;
    left: 14vw;
    width: 510px;
    /* height: 100vh; */
    /* max-height: 100%; */
    /* margin-right: -15px;
    margin-left: -15px; */
}

.imgsuzy1
{
    max-width: 100%;
    /* max-height: 100vh; */
    vertical-align:middle;
    border-style: none;
}

.info
{
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.4vw;
}

.social
{
    border-radius: 3.4vw;
    width: 37px;
    height: 37px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social:hover 
{
    background-color: var(--text-color);
    transition: 0.5s;
}
.AUBK 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.AUBK1
{
    margin-left: 12vw;
    display: flex;
    flex-direction: row-reverse;
    width: 80vw;
    z-index: 3;
}
.o 
{
    width: 37vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top:5vh;
}

.sub-o
{
    border-color: var(--main-color);
    border-width: 1.3px;
    border-style:dashed;
    border-radius: 10px;
    padding-left: 1.3vw;
    width: 185px;
    margin-right: 2vw;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(255, 118, 118, 0.062);
    height: 100px;
}
.so 
{
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: var(--main-color);
    margin-top: 17px;
    margin-bottom: 0;
}
.chu
{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:  var(--text-color);
    margin-top:0;
    margin-bottom: 1px;
}
.text 
{
    width: 35.8vw;
    margin-right: 15px;
    margin-top: 100px;
}

.texth1 
{
    font-family: 'Rubik', sans-serif;
    font-size: 53px;
    font-weight: 700;
    color: var(--text-color);
}

.textp1
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-p-color);
}

.imgsuzy2 
{
    width: 650px;
    height: 775px;
    margin-left: 0vw;
}

.AUBK2
{
    margin-top: 5vw;
    margin-left: 13vw;
    display: flex;
    flex-direction: row;
    width: 73vw;
    margin-bottom: 6vw;
}
.skill
{
    font-family: 'Rubik', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: var(--text-color);
}

.textp2
{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-p-color);
}
.ExSkill
{
    width: 30vw;
}
.LanSkill
{
    width: 30vw;
    margin-left: 9vw;
}
.percent 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 510px;
    margin-left: -15px;
    padding-top: 8px ;
}
.o1
{
    width: 220px;
    height:48px;
    display: flex;
    flex-direction: row;
    padding: 1vw;
    background-color: white;
    margin: 1vw;
    align-items: center;
    justify-content: left;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.089);
    border-width: 1px;
}
.o1:hover 
{
    box-shadow: 3px 3px 15px var(--shadow-color);
    transform: translateY(-0.3vw);
    transition: 0.5s;
}
.circle
{
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.country
{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.probar
{
    width: 33vw;
    height: 4vh;
    background-color: white;
    position: relative;
    z-index: 0;
    margin-top: 1.3vw;
    margin-bottom: 0.8vw;
}
/* .filler
{
    height: 4vh;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 12px;
} */
.filler1
{
    width: 92%; 
    height: 4vh;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 12px;  
}
.filler2
{
    width: 75%;
    height: 4vh;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.filler3
{
    width: 86%;
    height: 4vh;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.filler4
{
    width: 88%;
    height: 4vh;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.tooltip1
{   
    color: aliceblue;
    background-color: #131313;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    position: absolute;
    z-index: 2;
    left: 87.1%;
    height: 2px;
    width: 15px;
    top:-10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 11px;
}
.tooltip2
{
    left: 70.1%;
    color: aliceblue;
    background-color: #131313;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    position: absolute;
    z-index: 2;
    height: 2px;
    width: 15px;
    top:-10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 11px;
}
.tooltip3
{
    left: 81.1%;
    color: aliceblue;
    background-color: #131313;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    position: absolute;
    z-index: 2;
    height: 2px;
    width: 15px;
    top:-10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 11px;
}
.tooltip4
{
    left: 83.2%;
    color: aliceblue;
    background-color: #131313;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    position: absolute;
    z-index: 2;
    height: 2px;
    width: 15px;
    top:-10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 11px;
}
.tooltip1::after
{
    content: "";
    border-top: 8px solid black;
    /* border-right: 5px solid black;
    border-bottom: 5px transparent; */
    border-left: 7px solid transparent;
    width: 0px;
    height: 0px;
    bottom: -7px;
    right:0px;
    position: absolute;
}
.tooltip2::after
{
    content: "";
    border-top: 8px solid black;
    /* border-right: 5px solid black;
    border-bottom: 5px transparent; */
    border-left: 7px solid transparent;
    width: 0px;
    height: 0px;
    bottom: -7px;
    right:0px;
    position: absolute;
}
.tooltip3::after
{
    content: "";
    border-top: 8px solid black;
    /* border-right: 5px solid black;
    border-bottom: 5px transparent; */
    border-left: 7px solid transparent;
    width: 0px;
    height: 0px;
    bottom: -7px;
    right:0px;
    position: absolute;
}
.tooltip4::after
{
    content: "";
    border-top: 8px solid black;
    /* border-right: 5px solid black;
    border-bottom: 5px transparent; */
    border-left: 7px solid transparent;
    width: 0px;
    height: 0px;
    bottom: -7px;
    right:0px;
    position: absolute;
}
.chart
{
    display: flex;
    flex-direction: column;
}
.EXP
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}
.MyExp
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    position: relative;
}
.hightlight1::before
{
    content: "";
    width: 0;
    height: 2.7vh;
    background-color: var(--hightlight-color);
    position: absolute;
    z-index: -1;
    top:68px;
}
.EXP:hover .hightlight1::before
{
    width: 380px;
    transition: 0.7s;
    left: 348px;
}
.textp3
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-p-color);
    margin-top: -0.5vw;
    width: 40vw;
    text-align: center;
}

.jobtitle
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 0.3vw;
    margin-top: 1vw;
}

.year 
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: white;
    width: 6.2vw;
    height: 3.7vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.4vw;
}
.icon
{
    width: 1.3vw;
    height: 1.3vw;
}
.title 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.circle1
{
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.o2
{
    width: 32vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    background-color: white;
    margin: 1vw;
    align-items: left;
    justify-content: left;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.089);
    border-width: 1px;
}
.jobexp
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1vw;
    margin-bottom: 5vw;
}
.o2:hover 
{
    box-shadow: 3px 3px 15px var(--shadow-color);
    transform: translateY(-0.3vw);
    transition: 0.4s;
}

.hire
{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    height: 23vh;
}
.hireCon
{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hiretext
{
    font-family: 'Rubik', sans-serif;
    font-size: 29px;
    font-weight: 500;
    color: white;
}
.button
{
    height: 6vh;
    width: 10vw;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    border: none;
}
.button:hover
{
    color: white;
    background-color: var(--main-color);
    border-width: 1px;
    border-color: white;
    border-style: solid;
    transition: 0.5s;
}
.service
{
    display: flex;
    justify-content: center;
    background-color:var(--bk-color);
}

.serviceCon
{
    width: 73vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.hightlight2::before
{
    content: "";
    width: 0;
    height: 2.7vh;
    background-color: var(--hightlight-color);
    position: absolute;
    z-index: -1;
    top:68px;
}
.service:hover .hightlight2::before
{
    width: 603px;
    transition: 0.7s;
    left: 233px;
}
.serviceTable
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2vw;
}
.sertitle
{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 0.3vw;
    margin-top: 1vw;
}
.o-ser
{
    width: 20.5vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    padding-left: 1.8vw;
    padding-top:1.6vw;
    padding-bottom: 1.6vw;
    background-color: white;
    margin: 1vw;
    align-items: left;
    justify-content: center;
    box-shadow: 0px 0px 13px var(--shadow-color);
}
.o-ser:hover
{
    transform: translate(0.3vw,-0.3vw);
    transition: 0.6s;
    box-shadow: -0.6vw 0.6vw var(--main-color);
}
.o-ser-logo
{
    width: 5vw;
    height: 5vw;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio
{
    display: flex;
    justify-content: center;
    background-color:white;
}
.MyExp1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    position: relative;
}
.hightlight3::before
{
    content: "";
    width: 0;
    height: 2.7vh;
    background-color: var(--hightlight-color);
    position: absolute;
    z-index: -1;
    top:68px;
}
.portfolio:hover .hightlight3::before
{
    width: 400px;
    transition: 0.7s;
    left: 337px;
    z-index: 0;
}
.port-img
{
    width: 24vw;
    height: 24vw;
}
.portfolio-o
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.37vw;
}
.blur
{
    width: 20.8vw;
    height: 22.5vw;
    position: absolute;
    background-color: #000000d7;
    padding-left: 1.7vw;
    padding-bottom: 0;
    padding-right: 0;
    visibility: hidden;
    /* top:1vw;
    left: 1vw; */
    z-index: 2;
}
.portfolio-o:hover
{
    transform: translateY(-0.37vw);
    transition: 0.7s;
}
.portfolio-o:hover .blur
{
    visibility: visible;
    animation-duration: 0.7s;
}

.port-h3
{
    font-family: 'Rubik', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: white;
    margin-bottom: 0.2vw;
    margin-top: 1.7vw;
}
.port-p
{
    font-family: 'Rubik', sans-serif;
    font-size: 20x;
    font-weight: 500;
    color: white;
}
.plus
{
    position: absolute ;
    background-color: var(--main-color);
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.3vw;
    height: 3.3vw;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.MyExp
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    position: relative;
}
.hightlight4::before
{
    content: "";
    width: 0;
    height: 2.7vh;
    background-color: var(--hightlight-color);
    position: absolute;
    z-index: -2;
    top:68px;
}
.service:hover .hightlight4::before
{
    width: 680px;
    transition: 0.7s;
    left: 190px;
}

.hightlight5::before
{
    content: "";
    width: 0;
    height: 2.7vh;
    background-color: var(--hightlight-color);
    position: absolute;
    /* z-index: -1; */
    top:68px;
}
.portfolio:hover .hightlight5::before
{
    width: 400px;
    transition: 0.7s;
    left: 337px;
    z-index: 0;
}

.form
{
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.form1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subform1
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-control
{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-p-color);

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.groupform1
{
    display: flex;
    flex-direction: column;
}
.subform1right
{
    display: flex;
    flex-direction: column ; 
}
@media only screen and (max-width:1200px)
{
    .headd
    {
        width: 83vw;
        padding-left: 6%;
    }
    .nav
    {
        width: 50vw;
        margin-right: -15%;
        font-size: 16px;
        font-weight: 90%;
    }
    .navbtn
    {
        margin-right: 10px;
    }
    .social
    {
        border-radius: 3.1vw;
    }
    .AUBK1
    {
        margin-left: 12vw;
        width: 85vw;
    }
    .AUBK2
    {
        margin-top: 5vw;
        margin-left: 6vw;
        width: 73vw;
        margin-bottom: 6vw;
    }
}

@media only screen and (max-width:1024px)
{
    .headd
    {
        padding-left: 20px;
        
    }
    .nav
    {
        width: 60vw;
        margin-right: none;
        padding-right: 5%;
        font-size: 16px;
        font-weight: 80%;
    }
    .navbtn
    {
        margin-right: 5px;
    }
    .texth1
    {
        padding-top: 10px;
    }
    .textp1
    {
        font-size: 95%;
    }
    .chu
    {
        font-size: 80%;
    }
    .o-ser
    {
        width: 25vw;
        padding: none;
    }
    .serviceTable
    {
        margin-left: -8%;
    }
    .textp2
    {
        font-size: 95%;
    }
}
@media screen and (max-width:992px)
{
    .HomeBK
    {
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .HomeContent
    {
        position: absolute;
        justify-content: center;
    }
}
.mobile-icon
    {
        font-size: 200%;
        color: white;
        background-color: rgb(255, 97, 97);
        position: absolute;
        top: 30px;
        right: 80px;
        width:50px;
        height:50px;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .clearfix::after{
        content: " ";
        display: table;
        clear: both;
    }
@media only screen and (max-width:768px)
{
    .mobile-icon
    {
        display: flex;
    }
    .nav
    {
        display: none;
    }
    .HomeContent
    {
        padding-left: 10%;
        /* box-sizing: border-box; */

    }
    .content
    {
        font-size: 80%;
        padding: 50px 45px;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 250px;

    }
    .HomeBK::after
    {
        content: none;
    }
    .imgsuzy2
    {
        width: 510px;
    }
}
@media screen and (max-width:576px)
{
    
}