* {
    font-family: 'Rubik', sans-serif;
}
.container
{
    background-color:powderblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bt1
{
    width: 70%;
    background-color: rgb(211, 255, 242);
    height: 20vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#bt2
{
    width: 70%;
    background-color: rgb(211, 255, 242);
    height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#bt6
{
    width: 70%;
    background-color: rgb(211, 255, 242);
    height: 30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.list
{
    list-style: none;
    color: rgb(53, 39, 92);
}

.btn
{
    border: none;
    border-radius: 10px;
    background-color: rgba(53, 39, 92, 0.849);
    color: rgb(255, 242, 244);
    padding: 10px 20px;
    cursor: pointer;
    margin: 15px 20px;
}
