:root
{
    --text-color: rgb(4, 22, 26);
    --main-color: #f9564f;
    --shadow-color: rgba(136, 136, 136, 0.274);
    --text-p-color:rgba(8, 5, 20, 0.63);
    --hightlight-color:rgba(255, 0, 43, 0.178);
    --bk-color:rgba(250, 220, 218, 0.315);
}

body {
    display: block; justify-content:center; margin: 0; padding:0;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

.header1
{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 50;
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 10%;
    /* box-shadow: 3px 3px 15px rgba(136, 136, 136, 0.274) ; */
}

.headd
{
    width: 73vw;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 0%;
}
.suzie
{
    width: fit-content;
    font-family: 'Rubik', sans-serif;
    position: relative;
}
.suzie a
{
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}
.suzie::after
{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
    top: 40px;
    right: -8px;
    position: absolute;
}
.nav
{
    width: 45vw;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: -4vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 480;
    font-size: 16px;
    color: var(--text-color);
    visibility: visible;
}

.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbtn
{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    color: var(--text-color);
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
}
.navbtn:hover
{
    background-color: var(--main-color);
    color: white;
    transition: 0.5s;
}
.navbtn:active
{
    background-color: var(--main-color);
    color: white;
    transition: 0.5s;
}
.nav-scroll
{
    background-color: var(--main-color);
    color: white;
    transition: 1s;
}
.mobile-icon
{
    font-size: 150%;
    color: white;
    background-color: rgb(255, 97, 97);
    position: absolute;
    top: 30px;
    /* transform: translateX(80%); */
    right: 13vw;
    width:40px;
    height:40px;
    justify-content: center;
    align-items: center;
    display: none;
    /* here */
}

.footer
{
    background-color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4px;
    padding-top: 4px;
}

.icon-footer
{
    color: white;
    margin-left: 13%;
    margin-top: 13px;
}

.icon-footer i
{
    margin-right: 13px;
}

.footer-text
{
    color: white;
    margin-right: 15%;
}
.footer-text p
{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.bk-head
{
    background-color: white;
    box-shadow: 3px 3px 15px var(--shadow-color);
}

.fa-facebook-f
{
    cursor: pointer;
}
.fa-facebook-f:hover
{
    color: var(--main-color);
    transition: 0.2s;
}

.fa-twitter
{
    cursor: pointer;
}
.fa-twitter:hover
{
    color: var(--main-color);
    transition: 0.2s;
}

.fa-instagram
{
    cursor: pointer;
}
.fa-instagram:hover
{
    color: var(--main-color);
    transition: 0.2s;
}

.fa-linkedin-in
{
    cursor: pointer;
}
.fa-linkedin-in:hover
{
    color: var(--main-color);
    transition: 0.2s;
}

.fa-pinterest
{
    cursor: pointer;
}

.fa-pinterest:hover
{
    color: var(--main-color);
    transition: 0.2s;
}

.loading{
    position: fixed;
    z-index: 100;
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
}
.lds-dual-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    color:black;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }