.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.dot
{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    display: block;
    animation: icon 1.3s infinite ease-in-out;
    position: absolute;
    top:45%;
    left: 45%;
    transform: scale(1);
}

.dot::before
{
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 50%;
    background-color: aliceblue;
    color: aliceblue;
    animation: icon-before 1.3s infinite ease-in-out;
}

@keyframes icon-before
{
    from
    {
        transform: scale(1);
    }
    to 
    {
        transform: scale(0.4);
    }
}
@keyframes icon
{
    from 
    {
        transform: rotate(360deg);
    }
    to 
    {
        transform: rotate(0deg);
    }
}
.dot::nth-child(1)
{
    animation-delay: 0;
}

.dot:nth-child(2)
{
    animation-delay: 0.1s;
}
.dot:nth-child(3)
{
    animation-delay: 0.2s;
}
.dot:nth-child(4)
{
    animation-delay: 0.3s;
}
.dot:nth-child(5)
{
    animation-delay: 0.4s;
}
.dot:nth-child(6)
{
    animation-delay: 0.5s;
}
.dot:nth-child(7)
{
    animation-delay: 0.6s;
}
.dot:nth-child(8)
{
    animation-delay: 0.7s;
}