.container
{
    width: 100vw;
    height: 83vh;
    justify-content: space-around;
    position: relative;
    background-color: rgb(36, 36, 36);
    box-shadow: 0px 0.4px 5px rgb(54, 54, 54);
}

.menutren 
{
    justify-content: space-between;
    position:fixed;
    display: flex;
    background-color:rgb(27, 27, 27);
    width: 100%;
    height: 9%;
    top:0%;
    left:0%;
    box-shadow: 0px 0.4px 5px rgb(19, 19, 19);
    z-index: 1;
}
.mntt
{
    display: flex;
    align-items: center;
    position:relative;
}

.fb
{
    margin-left: 18px;
    margin-right: 8px;
    position:relative;
    cursor: pointer;
}
.timkiem
{
    color: rgb(129, 129, 129);
    position:relative;
}
.btnmenu:focus
{
    outline: none;
}
.btnmenu
{
    display: flex;
    align-items: center;
    padding-left: 35px;
    border-radius: 20px;
    width: 17vw;
    height: 6vh;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-decoration: rgb(129, 129, 129);
    border: none;
    left: 5px;
    position:relative;
    z-index: 0;
    background-color: rgb(78, 78, 78);
}


.mntg
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    position:absolute;
    left:530px;
    top:11.5px;
}
.buttonmntg
{
    border: none;
    width: 85px;
    height: 45px;
    align-items: center;
    background-color: rgb(27, 27, 27);   
    cursor: pointer;
}
.buttonmntg:hover
{
    border-radius: 7px;
    background-color: #424242;
}
.buttonmntg:focus
{
    outline: none;
    border-bottom-width: 10px;
    border-bottom: 3px solid rgb(0, 140, 255);
}
.mntp
{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 30%;
    position:relative;
}

.btnmenu
{
    color:rgb(180, 180, 180);
    position:relative;
}
.avaaa
{
    display: flex;
    align-items: center;
    padding-left: 35px;
    margin-right: 8px;
    border-radius: 20px;
    width: 6vw;
    height: 6.5vh;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color: rgb(180, 180, 180) ;
    border: none;
    position:relative;
    z-index: 0;
    background-color: rgb(85, 85, 85);
    padding-left: 49px;
    font-weight: 900;
    cursor: pointer;
}

.avaname
{
    color: rgb(129, 129, 129);
    position:relative;
    cursor: pointer;
}
.avaaa:hover
{
    background-color: #424242;
}
.avaaa:focus
{
    outline: none;
}

.btt
{
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin: 4px;
    border-radius: 20px;
    width: 3.5vw;
    height: 6.5vh;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color: rgb(99, 99, 99) ;
    border: none;
    position:relative;
    z-index: 0;
    background-color: rgb(78, 78, 78);
    right: 5px;
    cursor: pointer;
}
.btt:hover
{
    background-color: #424242;
}
.btt:focus
{
    outline: none;
}
.up
{
    position:relative;
    background-color: rgb(36, 36, 36);
    
}
.bia
{
    position: relative;
}

.button
{
    position: absolute;
    right:16vw;
    top:47.5vh;
    border: none;
    background-color: rgba(59, 59, 59, 0.575);
    border-radius: 6px;
    width: 12vw;
    height: 5vh;
    font-size: medium;
    color: aliceblue;
    cursor: pointer;
}
.button:hover
{
    background-color: #424242;
}
.button:focus
{
    outline: none;
}
.avatar
{
    position: relative;
    cursor: pointer;
}

.avatar:focus
{
    outline: none;
}
.changeava
{
    position: absolute;
    border: none;
    border-radius: 17px;
    background-color: rgba(172, 172, 172, 0.5);
    width: 35px;
    height: 35px;
    font-size: larger;
    left: 55vw;
    top: -3vh;
    z-index: 2;
    color: aliceblue;
    cursor: pointer;
}
.changeava:hover
{
    background-color: #424242;
}
.changeava:focus
{
    outline: none;
}
.Name 
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    background-color: rgb(36, 36, 36);
}

.tts
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(34, 126, 206);
    background-color: rgb(36, 36, 36);
    font-size: larger;
    cursor: pointer;
}
.tts:hover
{
    font-weight: 1000;
}
.tts:focus
{
    outline: none;
}
.down
{
    justify-content: space-between;
    position:sticky;
    display: flex;
    background-color:rgb(36, 36, 36);
    width: 100%;
    height: 9%;
    top:0%;
    left:0%;
    z-index: 1;
}
.otrai
{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 28%;
    position:relative;
    margin-left: 14.5vw;
}
.option
{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #b8b8b8;
    cursor: pointer;
    border: none;
    background-color: rgb(36, 36, 36);
    outline: none;
    margin-right: 4px;
    height: 6.5vh;
    font-size: medium;
    z-index: 0;
    right: 5px;
}
.option:hover
{
    background-color: #424242;
    border-radius: 5px;
}
.option:focus
{
    color: rgba(24, 151, 255, 0.925);
    outline: none;
    border-bottom: 3px solid rgba(24, 151, 255, 0.925);
}

.optiontext
{
    font-size: 15px;
    font-weight: 600;
    margin: 4px 0px;
    padding: 14px 8px;
    background-color:rgb(36, 36, 36);
}

.ophai
{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 30%;
    position:relative;
    margin-right: 19vw;
    cursor: pointer;
}
.cscn
{
    display: flex;
    align-items: center;
    margin-right: 7px;
    border-radius: 10px;
    width: 16.5vw;
    height: 6.5vh;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color:aliceblue;
    border: none;
    position:relative;
    z-index: 0;
    background-color: rgb(85, 85, 85);
    padding-left: 10px;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}
.cscn:hover
{
    background-color: #424242;
}
.cscn:focus
{
    outline: none;
}
.btnbottom
{
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin: 4px;
    border-radius: 10px;
    width: 3.5vw;
    height: 6.5vh;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color:aliceblue;
    border: none;
    position:relative;
    z-index: 0;
    background-color: rgb(78, 78, 78);
    right: 5px;
    cursor: pointer;
}
.btnbottom:hover
{
    background-color: #424242;
}
.btnbottom:focus
{
    outline: none;
}

.mes
{
    box-shadow:0px 0.4px 5px rgb(54, 54, 54);
    position: fixed;
    border: none;
    border-radius: 20px;
    background-color: rgba(15, 15, 15, 0.644);
    width: 40px;
    height: 40px;
    font-size: larger;
    right: 10px;
    bottom: 15px;
    z-index: 2;
    color: aliceblue;
    cursor: pointer;
}
.mes:hover
{
    background-color: #424242;
}
.mes:focus
{
    outline: none;
}
.mes .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .mes:hover .tooltiptext {
    visibility: visible;
  }

  .mes .tooltiptext {
    top: -5px;
    right: 110%;
  }

  .mes1
  {
      background-image: url("images/Tokyo-Town-Shinjuku-als-HDR.jpg") ;
      box-shadow:0px 0.4px 5px rgb(54, 54, 54);
      position: fixed;
      border: none;
      border-radius: 20px;
      background-color: rgba(15, 15, 15, 0.644);
      width: 40px;
      height: 40px;
      font-size: larger;
      right: 10px;
      bottom: 70px;
      z-index: 2;
      color: aliceblue;
      cursor: pointer;
  }
  .mes1:hover
  {
      background-color: #424242;
  }
  .mes1:focus
  {
      outline: none;
  }
  .mes1 .tooltiptext1 {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
     
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .mes1:hover .tooltiptext1 {
      visibility: visible;
    }
  
    .mes1 .tooltiptext1 {
      top: -5px;
      right: 110%;
    }